<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="Luciano Giannelli, desarrollador, diseñador"/>
    <meta name="Language" content="Spanish"/>
    <link rel="icon" th:href="@{/img/vl.ico}"/>
    <title>Solicitud Sube enviada</title>
    <link href="http://localhost:8080/request/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>
    <!--[if lt IE 9]><script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script><script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-header">Solicitud Sube enviada correctamente</h3>
        </div>
        <div class="col-md-12">
            <h4>Bienvenido: <strong><span class="text-success" th:text="${reseller.participantName}">RESELLER</span></strong></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-1">
            <ul class="list-group">
                <li class="list-group-item"><strong>Solicitud: <span class="text-info" th:text="${merchantRequest.requestId}">ID</span></strong></li>
                <li class="list-group-item active"><strong>Nombre del comercio: <span class="text-info" th:text="${merchantRequest.merchantRequestName}">Name</span></strong></li>
                <li class="list-group-item"><strong>Nombre legal: <span class="text-info" th:text="${merchantRequest.realName}">Name</span></strong></li>
                <li class="list-group-item active"><strong>Teléfono: <span class="text-info" th:text="${merchantRequest.merchantRequestPhone}">Phone</span></strong></li>
                <li class="list-group-item"><strong>Dirección: <span class="text-info" th:text="|${merchantRequest.merchantRequestStreet} e/ ${merchantRequest.merchantRequestStreet1} y ${merchantRequest.merchantRequestStreet2} N ${merchantRequest.merchantRequestStreetNumber}|">Address</span></strong></li>
                <li class="list-group-item active"><strong>Provincia: <span class="text-info" th:text="${merchantRequest.merchantRequestProvince}">Province</span></strong></li>
                <li class="list-group-item"><strong>Ciudad: <span class="text-info" th:text="${merchantRequest.merchantRequestCity}">City</span></strong></li>
                <li class="list-group-item active"><strong>Latitud: <span class="text-info" th:text="${merchantRequest.merchantRequestLat}">Province</span></strong></li>
                <li class="list-group-item"><strong>Longitud: <span class="text-info" th:text="${merchantRequest.merchantRequestLong}">City</span></strong></li>
                <li class="list-group-item active"><strong>Email: <span class="text-info" th:text="${merchantRequest.merchantRequestEmail}">Email</span></strong></li>
                <li class="list-group-item"><strong>Cuit: <span class="text-info" th:text="|${merchantRequest.merchantRequestCuit1}-${merchantRequest.merchantRequestCuit2}-${merchantRequest.merchantRequestCuit3}|">Cuit</span></strong></li>
                <li class="list-group-item active"><strong>Forma de Venta: <span class="text-info" th:text="${merchantRequest.merchantRequestDevice}">Device</span></strong></li>
                <li class="list-group-item"><strong>Observaciones: <span class="text-info" th:text="${merchantRequest.merchantRequestObs}">Obs</span></strong></li>
                <li class="list-group-item active"><strong>Días y horarios de atención: <span class="text-info" th:text="${merchantRequest.merchantRequestSchedule}">Obs</span></strong></li>
            </ul>
            <a th:href="@{'/sube?reseller=' + ${reseller.virtualId}}" class="btn btn-success">Llenar otra solicitud</a>
        </div>
        <br/>
        <div class="col-md-4 col-2">
            <div class="well">
                <p>Ante cualquier consulta no dudes en ponerte en contacto con nosotros. A continuación nuestros medios de comunicación.</p>
                <p><strong>Teléfono:</strong> <span class="text-info">0221-8888 internos: 203 / 204</span></p>
                <p><strong>Email:</strong> <span class="text-info">s&#111;porte_car&#100;l&#105;&#110;e&#64;&#104;&#111;tmai&#108;&#46;c&#111;m</span></p>
                <p><strong>Horarios de Atención Comercial: </strong><span class="text-info">Lunes a Viernes de 9 a 17hs.</span></p>
            </div>
        </div>
    </div>
    <hr/>
    <footer>
        <div class="row">
            <div class="col-md-12">
                <p class="pull-right pull">Diseño: Luciano Giannelli</p>
            </div>
        </div>
    </footer>
</div>
<br/>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>
